.gallery{
    --#{$prefix}gutter-x: 20px;
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--#{$prefix}gutter-x);
    column-count: var(--#{$prefix}gallery-column-count, 1);
    margin-right: calc(-.5 * var(--#{$prefix}gutter-x));
    margin-left: calc(-.5 * var(--#{$prefix}gutter-x));
    .gallery-item{
        flex: 0 0 auto; 
        flex-shrink: 0;
        width: calc(100% / var(--#{$prefix}gallery-column-count));   
        max-width: 100%;   
        padding-right: calc(var(--#{$prefix}gutter-x) * .5);
        padding-left: calc(var(--#{$prefix}gutter-x) * .5);      
        margin-bottom: 0;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        figcaption{            
            padding-top: calc(var(--#{$prefix}gutter-x) * .25);
        }
    }    
}
@for $i from 1 through 9 {
    .gallery-columns-#{$i} {
        --#{$prefix}gallery-column-count: #{$i};
        @if  $i > 4{
            --#{$prefix}gutter-x: 10px;
        }          
    }
}
@include media-breakpoint-down(md) {
    @for $i from 1 through 9 {
        .gallery-columns-#{$i} {        
            @if  $i < 3{
                --#{$prefix}gallery-column-count: 1;
            } @else{
                --#{$prefix}gallery-column-count: 2;
                --#{$prefix}gutter-x: 10px;
            }          
        }
    }
}

// Legacy images, linked
figure.wp-caption a:focus img {
	outline-offset: 2px;
}
